<p id="notice"><%= notice %></p>
<div class="content">
<% @blogs.each do |blog| %>
  <div>
    <h2><%= blog.content %></h3>
    <p>
      <%= link_to 'Edit', edit_blog_path(blog) %> | 
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>
</div>